.image-gallery {
  padding-top: 30px;
}
.image-gallery__full-images-wrapper {
  display: block;
}
.image-gallery__title {
  color: rgba(255, 255, 255, 0.7);
  position: fixed;
  bottom: 30px;
  left: 30px;
  transition: 0.5s;
  z-index: 500;
  padding: 15px;
  background: rgba(0, 0, 0, 0.3);
}
.image-gallery__title.ng-hide-add,
.image-gallery__title.ng-hide-remove {
  transition: .5s linear all;
}
.image-gallery__title.ng-hide {
  display: none;
}
.full-image-wrapper {
  /*display: none !important;*/
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  opacity: 1;
  overflow: hidden;
}
.full-image-wrapper.ng-hide-add,
.full-image-wrapper.ng-hide-remove {
  transition: .6s linear all;
}
.full-image-wrapper.ng-hide {
  line-height: 0;
  opacity: 0;
}
.image-gallery__full-image {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-height: 95%;
  max-width: 95%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  opacity: 1;
  display: none;
  transition: 0.5s;
}
.image-gallery__full-image.ng-hide-add,
.image-gallery__full-image.ng-hide-remove {
  transition: .5s linear all;
}
.image-gallery__full-image.ng-hide {
  opacity: 0;
}
.image-gallery__full-image.active {
  display: block;
  transition: 0.5s;
}
.image-gallery__item {
  cursor: pointer;
  padding: 0 !important;
  margin: 0 10px 10px 0;
  transition: 0.5s;
}
.image-gallery__item.active,
.image-gallery__item:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  transition: 0.5s;
}
.image-gallery__nav_prev,
.image-gallery__nav_next {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.7);
  padding: 13px;
  text-align: center;
  cursor: pointer;
}
.image-gallery__nav_prev.ng-hide-add,
.image-gallery__nav_next.ng-hide-add,
.image-gallery__nav_prev.ng-hide-remove,
.image-gallery__nav_next.ng-hide-remove {
  transition: .5s linear all;
}
.image-gallery__nav_prev.ng-hide,
.image-gallery__nav_next.ng-hide {
  line-height: 0;
  opacity: 0;
}
@media (max-width: 768px) {
  .image-gallery__nav_prev,
  .image-gallery__nav_next {
    /*top: 15px;
        width: 30%;
        border-radius: 0;
        box-shadow: none;*/
    display: none;
  }
  .image-gallery__title {
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
  }
}
.image-gallery__nav_prev {
  left: 30px;
}
.image-gallery__nav_next {
  right: 30px;
}
